@include describe("Pow") {
  @include it("should calculate exponents") {
    @include should(expect( pow(4,  2) ), to( equal( 16 )));
  }

  @include it("should handle zero correctly") {
    @include should(expect( pow(0,   0) ), to( equal( 1 )));
    @include should(expect( pow(3.5, 0) ), to( equal( 1 )));
    @include should(expect( pow(0, 3.5) ), to( equal( 0 )));
  }

  @include it("should calculate negative exponents") {
    @include should(expect( pow(4, -2) ), to( equal( 0.0625 )));
  }

  @include it("should calculate decimal exponents") {
    @include should(expect( pow(4, 0.2) ), to( be-close-to( 1.31951, 5)));
  }
}
