@include describe("Fact") {
  @include it("should calculate exponents of eulers constant") {
    @include should(expect( exp(1) ), to( be-close-to( 2.71828, 5 )));
  }

  @include it("should calculate negative exponents of eulers constant") {
    @include should(expect( exp(-1) ), to( be-close-to( 0.36788, 5 )));
  }
}
